<!-- <mat-form-field [ngClass]="clearButton && selectedOption ? 'compact' : null">
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    matInput
    [placeholder]="placeholder"
    aria-label="Nombre plantilla"
    [formControl]="controlText"
    [matAutocomplete]="auto"
    (input)="handleInput()"
    (focus)="handleFocus()"
  />
  <button
    mat-icon-button
    (click)="limpiar($event)"
    *ngIf="clearButton && selectedOption"
  >
    <mat-icon matSuffix>close</mat-icon>
  </button>
  <ng-content select="[matSuffix]"></ng-content>
  <mat-autocomplete #auto="matAutocomplete" (closed)="handleBlur()">
    <mat-option *ngIf="searching" [disabled]="true"> Buscando... </mat-option>
    <mat-option
      *ngIf="
        (datos.length == 0 && !searching) ||
        (controlText.value != '' &&
          filterList(this.controlText.value).length == 0 &&
          !searching)
      "
      [disabled]="true"
    >
      No hay datos
    </mat-option>
    <mat-option
      *ngFor="let option of datos | searchFilter : controlText.value : key"
      [value]="option[key]"
      (click)="selecItem(option)"
    >
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>
  <ng-content select="[matSuffix]"></ng-content>
  <mat-hint>
    <ng-content select="[hint]"></ng-content>
  </mat-hint>
</mat-form-field> -->

<mat-form-field [appearance]="appearance" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    [placeholder]="placeholder"
    [formControl]="controlText"
    [matAutocomplete]="auto"
  />
  <button
    matSuffix
    mat-icon-button
    (click)="limpiar($event)"
    *ngIf="clearButton"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngIf="searching" [disabled]="true"> Buscando... </mat-option>

    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="key === null ? option : option[key]"
      (click)="selecItem(option)"
    >
      {{ key === null ? option : option[key] }}
    </mat-option>
  </mat-autocomplete>
  <ng-content select="[matSuffix]"></ng-content>
  <mat-hint>
    <ng-content select="[hint]"></ng-content>
  </mat-hint>
</mat-form-field>
